<footer class="flex flex-col gap-4 justify-center items-center mx-auto my-0 w-full border-t border-solid border-t-blue-950 h-[149px] max-w-[1222px] max-md:px-0 max-md:py-8 max-md:h-auto max-sm:px-0 max-sm:py-6">
  <p class="text-base leading-6 text-center text-slate-400 max-sm:text-sm">
    Ready to collaborate on your next project?
  </p>
  <button class="text-lg font-bold leading-7 text-center text-white rounded-lg shadow-md cursor-pointer h-[60px] w-[172px] max-sm:w-full max-sm:text-base max-sm:max-w-[200px] flex items-center justify-center">
    Get In Touch
  </button>
</footer>
